.stopwatch {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 240px;
}

.display {
  background-color: cyan;
  font-size: 18px;
}

.display > p {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
}

.reset {
  background-color: yellow;
}

.start {
  background-color: greenyellow;
}

.stop {
  background-color: lightgreen;
}
