* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  box-sizing: content-box;
  width: 320px;
  border: 2px solid black;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px) 50px;
  grid-template-areas:
    "square triangle rrect"
    "rsquare circle rrect"
    "rect rect rect";
}

.shape {
  width: 100%;
  height: 100%;
}

.square {
  background-color: red;
  grid-area: square;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid orange;
  grid-area: triangle;
}

.rounded-square {
  background-color: magenta;
  border-radius: 16px;
  grid-area: rsquare;
}

.circle {
  border: 4px solid cyan;
  border-radius: 50%;
  grid-area: circle;
}

.rounded-rect {
  background-color: darkcyan;
  border-radius: 16px;
  grid-area: rrect;
}

.rect {
  background-color: greenyellow;
  grid-area: rect;
}